body {
  font-family: Arial, sans-serif;
  background: #ffb242;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-transform: uppercase;
}

#form-wrap {
  width: 500px;
  height: 350px;
  position: relative;
}

/* ---------- CARD FRONT ------------ */
#card-front {
  background: #e6e6e6;
  border-radius: 10px;
  padding: 25px;
  width: 380px;
  height: 240px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-55%);

  display: grid;
  grid-template-columns: 1fr 60px;
  grid-auto-rows: auto;
  gap: 15px;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.15);
}

#total {
  grid-column: 1 / 2;
  margin: 0;
}

/* Right side icon */
.icon-box {
  grid-column: 2 / 3;
  justify-self: end;
}

.input-box {
  grid-column: 1 / 3;
}

.name-exp-row {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.holder-box input,
.exp-box input,
.input-box input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #ccc;
  font-size: 14px;
}

/* Exp inputs side-by-side */
.exp-row {
  display: flex;
  gap: 10px;
}

.card-image {
  border-radius: 4px;
}

/* ---------- CARD BACK ------------ */
#card-back {
  background: #d8d8d8;
  width: 380px;
  height: 240px;
  border-radius: 10px;
  padding: 25px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-35%);
  z-index: 1;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.15);
}

#card-stripe {
  width: 100%;
  height: 50px;
  background: #3a3a3a;
  border-radius: 3px;
  margin-bottom: 25px;
}

#card-back input {
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #ccc;
  font-size: 14px;
}

/* ---------- BUTTON ------------ */
#submit-btn {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  bottom: -60px;
  right: 30px;
}

#submit-btn:hover {
  background: #eee;
}
