body {
  font-family: Arial, sans-serif;
  background: #ffb242;
  padding: 40px;
  text-transform: uppercase;
}

#form-container {
  width: 500px;
  height: 300px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 50px;
  position: relative;
}

#creditCardForm {
  display: grid;
  grid-template-areas:
    "front"
    "back"
    "button";
}

#card-front {
  grid-area: front;
  background-color: #498ee4;
  width: 390px;
  height: 250px;
  border-radius: 8px;
  padding: 20px 30px;
  box-sizing: border-box;
  color: white;
  position: relative;
  z-index: 2;
}

#shadow {
  position: absolute;
  right: 0;
  width: 280px;
  height: 210px;
  top: 34px;
  background-color: #000;
  z-index: -1;
  border-radius: 8px;
  opacity: .25;
}

#card-back {
  grid-area: back;
  background-color: #498ee4;
  width: 390px;
  height: 250px;
  border-radius: 8px;
  padding: 20px 30px;
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 0;
  box-sizing: border-box;
}

#card-stripe {
  width: 100%;
  height: 60px;
  background-color: #3d5266;
  border-radius: 3px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: none;
  border-radius: 4px;
  background: #5a9def;
  color: white;
}

input::placeholder {
  color: white;
  opacity: 0.7;
}

#exp-container {
  display: flex;
  gap: 10px;
}

button {
  grid-area: button;
  background: white;
  color: #ffb242;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  margin-left: auto;
  margin-top: 10px;
}

button:hover {
  background: #fff;
}

.card-image {
  float: right;
}
