body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f3f3f3;
  padding: 20px;
}

main {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

fieldset {
  margin-bottom: 1rem;
  border: 2px solid #444;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.participants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#add {
  grid-column: 1 / -1; /* spans both columns */
}

button {
  padding: 10px;
  font-size: 1rem;
}

.hide {
  display: none;
}

#summary {
  background: #e7ffe7;
  padding: 20px;
  border-radius: 8px;
  margin-top: 1rem;
}
